<p style="color: green"><%= notice %></p>

<% if @user.student? %>

  <h2>Current Courses</h2>
  <table class="table  table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Credits</th>
        <th scope="col">Instructor</th>
        <th scope="col">Days</th>
        <th scope="col">Timing</th>
        <th scope="col">Grade</th>
        <th scope="col">Un-register?</th>
      </tr>
    </thead>
    <tbody>
      <% @current_sections.each do |section| %>
        <tr>
          <td><%= section.course.full_course_title %></td>
          <td><%= section.course.credits %></td>
          <td><%= section.instructor.full_name %></td>
          <td><%= section.days %></td>
          <td><%= "#{section.start_time.strftime("%H:%M")} - #{section.end_time.strftime("%H:%M")}" %></td>
          <td><%= section.sections_students.find_by(student_id: @person.id).grade %></td>
          <td>
            <%= form_with url: unregister_main_site_path(section_id: section.id), method: :post do |form| %>
              <%= form.submit "Unregister" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h2>Past Courses</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Credits</th>
        <th scope="col">Instructor</th>
        <th scope="col">Grade</th>
      </tr>
    </thead>
    <tbody>
      <% @past_sections.each do |(year, semester), sections| %>
        <tr class="table-secondary ">
          <td colspan="4"><%= "#{semester} #{year}" %></td>
        </tr>
        <% sections.each do |section| %>
          <tr>
            <td><%= section.course.full_course_title %></td>
            <td><%= section.course.credits %></td>
            <td><%= section.instructor.full_name %></td>
            <td><%= section.sections_students.find_by(student_id: @person.id).grade %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% elsif @user.instructor? %>

  <h2>Current Sections Taught</h2>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Course</th>
        <th scope="col">Credits</th>
        <th scope="col">Days</th>
        <th scope="col">Timing</th>
      </tr>
    </thead>
    <tbody>
      <% @current_sections.each do |section| %>
        <tr>
          <td><%= section.course.full_course_title %></td>
          <td><%= section.course.credits %></td>
          <td><%= section.days %></td>
          <td><%= "#{section.start_time.strftime("%H:%M")} - #{section.end_time.strftime("%H:%M")}" %></td>
        </tr>
        <% section.sections_students.each do |section_student| %>
          <tr>
            <td colspan="2"><%= section_student.student.full_name %></td>
            <td colspan="2">
              <%= form_with url: change_grade_main_site_path(section_id: section.id, student_id: section_student.student.id), method: :post do |form| %>
                <%= form.select :grade, 
                  [['A', 'A'], ['B', 'B'], ['C', 'C'], ['D', 'D'], ['F', 'F']], 
                   {selected: section_student.grade} , {onchange: 'this.form.submit()'}
                %>
              <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

<% end %>

