<div id="<%= dom_id section %>">
  <p>
    <strong>Course:</strong>
    <%= section.course.full_course_title %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= section.instructor.full_name %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= section.capacity %>
  </p>

  <p>
    <strong>Semester:</strong>
    <%= section.semester %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= section.year %>
  </p>

  <p>
    <strong>Days:</strong>
    <%= section.days %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= section.start_time.strftime('%H:%M') if section.start_time.present? %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= section.end_time.strftime('%H:%M') if section.end_time.present? %>
  </p>

</div>
