<p style="color: green"><%= notice %></p>
<div class = "d-flex flex-column align-items-center justify-contents-center">
<%= render @course %>

  <div>
    <%= link_to "Edit this course", edit_course_path(@course), class: "btn btn-outline-success" %> |
    <%= link_to "Back to courses", courses_path, class: "btn btn-outline-success" %>
  </div>
    
  <div class = "d-flex flex-column align-items-center justify-contents-center"
        style = "margin-top: 0.5em;">
    <%= button_to "Destroy this course", @course, method: :delete, class: "btn btn-outline-success" %>
  </div>

</div>