<% cache do %>
  <header class="p-3 bg-dark text-white d-flex flex-row justify-content-between align-items-center">
    <div class="">
      <a class="text-white text-decoration-none" href="/">
        <%= image_tag "k_logo.png", height: 100, width: 100 %>
      </a>
    </div>
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <% if user_signed_in? %>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li>
              <a href="/main_site/my_courses" class="nav-link px-2 text-secondary">My Courses</a>
            </li>
            <li>
              <a href="/courses/" class="nav-link px-2 text-secondary">Courses</a>
            </li>
            <li>
              <a href="/sections/" class="nav-link px-2 text-secondary">Sections</a>
            </li>
          </ul>
        <% else %>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          </ul>
        <% end %>
        <%# TODO user sign-in dependent %>
        <div class="text-end d-flex flex-row ">
          <% if user_signed_in? %>
            <%= link_to 'Sign Out', destroy_user_session_path, class: "btn btn-outline btn-danger me-2" %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-info me-2" %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-light me-2" %>
            <%= link_to 'Register', new_user_registration_path, class: "btn btn-info me-2" %>
          <% end %>
        </div>
  
      </div>

    </div>
  </header>
<% end %>